
body{

    background-color: rgb(0, 0, 0);
 
}
#navbar{
    margin-left: 5rem;
    margin-top: 1rem;
    
}
h1{
    font-size: 40px;
    color: red;
    margin-left: -98%;
    margin-top: 2%;
    text-shadow: 8px 8px 8px black;
    overflow: hidden;
    z-index: 100;

}

#navitem{
    margin-top: 5%;
    margin-left: 20%;
  
    padding: 0 2px;

}
#search{
    margin-top: 10px;
    margin-right: 35px;

}
   
.carousel-item img{
    height: 20%;
}
video{
    margin-left: -1rem;
  width: 100%;
  
}
#video_poster img{

  
   width: fit-content;

transition: 0.2s linear ;


}
.navbar-brand img{
    margin-top: 2%;
    width: 15%;
}


#video_poster img  :hover{

    
    background-color: black;
    transition: ease-in 5s;


}

#navcontrol{
    color: rgb(0, 0, 0);
    transition: .1s;

}
#navcontrol:hover{
    font-size: larger;
    color: rgba(0, 0, 0, 0.726);
}

#navbarDropdown{
    color: rgb(0, 0, 0);
    transition: .1s;
}

#navbarDropdown:hover{
    color: rgb(0, 0, 0);
    transition: .1s;
}




